li {
  line-height: 2em;
}
.product-search {
  margin-top: 2.5em;
}
.btn-delete {
  margin-left: 4px;
}
.total {
  border-top: 1px dashed #3e3f3a;
  margin-top: 6px;
  padding-top: 6px;
}
.total-count {
  padding-left: 38px;
}
.total-cost {
  padding-right: 38px;
}
.text-discount {
  margin-top: 1.5em;
  font-size: 0.9em;
}
